<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>

<html>
  <head>
    <title>Dom Barnfather</title>
    <meta name="description" content="UK based photographer Dom Barnfather">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  
  
  <body class="image-background">
    <div class="info-button">
      <header>
        <a class="info-button__link" href="/info">Info</a><br/>
      </header>
    </div>
  
  
    <div class="navigation-block">
      <nav>
        <ul class="nav-list">
          <li class="nav-list__item">
          	<a class="nav-list__link" href="/lydia">Lydia</a>
          </li>
          <li class="nav-list__item">
          	<a class="nav-list__link" href="/ellie">Ellie</a>
          </li>
          <li class="nav-list__item">
          	<a class="nav-list__link" href="/swrd">SWRD</a>
          </li>
          <li class="nav-list__item">
          	<a class="nav-list__link" href="/warmblood">Warmblood</a>
          </li>
          <li class="nav-list__item">
          	<a class="nav-list__link" href="/fay">Fay</a>
          </li>
          <li class="nav-list__item">
          	<a class="nav-list__link" href="/belgium">Belgium</a>
          </li>
          <li class="nav-list__item">
          	<a class="nav-list__link" href="/the-messenger">The Messenger</a>
          </li>
        </ul>
      </nav>
      </div>
        
      <!-- Your web-app is https, so your scripts need to be too -->
      <script src="https://code.jquery.com/jquery-2.2.1.min.js"
              integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
              crossorigin="anonymous"></script>
      <script src="/client.js"></script>
    </body>
</html>
